<h1>User Registration</h1>

<div class="card">
    <form class="card-block">
        <div class="form-group">
            <span>Username : </span>
            <label name="username" ng-bind="form.values.username"></label>
        </div>
        <div class="form-group">
            <span>Email : </span>
            <label name="email" ng-bind="form.values.email"></label>
        </div>
        <div class="form-group">
            <span>Full name : </span>
            <label name="full-name" ng-bind="form.values.full_name"></label>
        </div>

        <div class="form-group">
            <span>Role      : </span>
            <label name="role" ng-bind="form.values.role"></label>
        </div>

        <div>
            <a name="confirm-new-account" ng-click="form.submit()" class="btn btn-warning">Confirm</a>
        </div>
    </form>
</div>
