<h1>User Registration</h1>
<div class="card">
    <form class="card-block">
        <div class="form-group">
            <label>Username</label>
            <input name="username" class="form-control" placeholder="username" ng-model="form.values.username" ng-class="{'error': form.errors.username}">
        </div>

        <div class="form-group">
            <label>Full name</label>
            <input name="full-name" class="form-control" placeholder="full name" ng-model="form.values.full_name" >
        </div>

        <div class="form-group">
            <label>Email</label>
            <input name="email" class="form-control" placeholder="email" ng-model="form.values.email" ng-class="{'error': form.errors.email}">
        </div>

        <div class="form-group">
            <label>Role</label>
            <select name="select-role" class="form-control" ng-model="form.values.role" ng-class="{'error': form.errors.role}">
                <option value="{{null}}">---Please select---</option>
                <option value="{{role.name}}" ng-repeat="role in form.options.roles">{{role.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="username-error error"  ng-bind="form.errors.username"   ></label>
            <label class="email-error error" ng-bind="form.errors.email"      ></label>
            <label class="role-error error"  ng-bind="form.errors.role"       ></label>
        </div>
        <div class="form-group">
            <a name="create-user"  ng-click="form.save()" class="btn btn-primary">Create</a>
        </div>
    </form>
</div>
