<h1>Dashboard</h1>
<div class="card">
    <div class="card-block">
        <div ng-show="user.id">
            <label name="mobile-message" class="mobile-only">Welcome <span class="mobile-username">{{user.name}}</span> on mobile</label>
            <label name="bigweb-message" class="noMobile">Welcome <span class="desktop-username ">{{user.name}}</span> on bigweb</label>

            <div>
                <a id="current-users" class="btn btn-secondary" ui-sref="users">View Users</a>
            </div>
        </div>
    </div>
</div>