<h1>Login</h1>
<div class="card">
    <div class="card-block">

        <div ng-show="user.id">
            <label name="mobile-message" class="visible-xs visible-sm hidden-lg hidden-md">Welcome <span class="mobile-username">{{user.name}}</span> on mobile</label>
            <label name="bigweb-message" class="visible-lg visible-md hidden-xs hidden-sm">Welcome <span class="desktop-username ">{{user.name}}</span> on bigweb</label>

            <div>
                <button id="current-users" class="btn btn-default" ui-sref="dashboard">View Users</button>
            </div>
        </div>
        <div>

        </div>
        <form ng-hide="user.id">
            <div class="form-group">
                <label >Username</label>
                <input name="username" type="text" ng-model="form.username" class="form-control input-lg input-search" placeholder="id">
            </div>
            <div class="form-group">
                <label >Password</label>
                <input name="password" type="password" ng-model="form.password" class="form-control input-lg input-search" placeholder="password">
            </div>
            <div class="form-group">
                <button name="login-user" ng-click="login()" class="btn btn-primary">Login</button>
            </div>
            <div class="error" ng-bind="error.message"></div>
        </form>

    </div>
</div>