<div ui-view>
    <h1>Users</h1>

    <div class="card">
        <div class="card-block">
            <a class="create-user" ui-sref="users.create">create</a>
            <table id="users" class="table">
                <thead>
                <tr>
                    <th>Full name</th>
                    <th>email</th>
                    <th>Duration</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in user.data.active_users">
                    <td ng-bind="user[0]"></td>
                    <td ng-bind="user[1]"></td>
                    <td ng-bind="user[2]"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
